<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.jeongseok.demoweb.dao.user.UserDao">
	<resultMap id="userMap" type="com.jeongseok.demoweb.vo.user.UserVo">
		<result property="userId" column="user_id"/>
		<result property="userPassword" column="user_password"/>
		<result property="userName" column="user_name"/>
		<result property="sysCretDate" column="sys_cret_date"/>
		<result property="sysUpdtDate" column="sys_updt_date"/>
    </resultMap>
    
    <sql id="queryCondition">
    	<where>
    		<if test="userId != null and userId != ''">
    			and user_id = #{userId}
    		</if>
    		<if test="userPassword != null and userPassword != ''">
    			and user_password = #{userPassword}
    		</if>
    	</where>
    </sql>
    
 	<select id="selectOne" parameterType="com.jeongseok.demoweb.param.LoginParam" resultMap="userMap">
		SELECT * FROM user_info 
	    <include refid="queryCondition" />
	</select>
	
	
</mapper>